.managerbutton {
  margin-top: 0.5rem;
}

.crystal {
  height: 40px;
  width: 40px;
  top:20px;
}

.rules {
  position: absolute;
  bottom:0;
  left:0;
}

.Toastdiv {
text-align: center;
width:400px;
height:150px;
top: 5%;
margin: auto;
position: absolute;
left: 0;
right:55%;
z-index: 1;
}

.dice {
   position: absolute;
   top:20%;
   left: 0;
   width:500px;
   transform: scaleX(-1);
   -webkit-transform: scaleX(-1);
}

.diceP2 {
  position: absolute;
  top:20%;
  right:0;
  width:500px;
}


.Toastdivthrow {
text-align: center;
width:150px;
height:600px;
top: 35%;
margin: auto;
position: absolute;
left: 0;
right:55%;
z-index: 2;
}
.Toastdivthrowp2 {
  text-align: center;
width:150px;
height:600px;
top: 35%;
margin: auto;
position: absolute;
left: 55%;
right:0;
z-index: 2;
}

.Toastdivcurse {
  text-align: center;
  width:400px;
  height:150px;
  top: 5%;
  margin: auto;
  position: absolute;
  left: 55%;
  right:0;
  z-index: 1;
  }

.Toastkarenblock {
  text-align: center;
  width:400px;
  height:150px;
  top: 15%;
  margin: auto;
  position: absolute;
  left: 0;
  right:0;
  z-index: 1;
}

.Toastcurseblock {
  text-align: center;
  width:400px;
  height:150px;
  margin: auto;
  position: absolute;
  left: 0;
  right:0;
  z-index: 2;
}

.lotto-image {
  top: 2%;
  left: 0;
  width:120px;
  right: 0;
  margin: auto auto;
  position:absolute;
  cursor: pointer;
}

.Toast {
  color: white;
}

.toastheader {
  justify-content: center;
  align-items: center;
}

.mysterycard {
  position: absolute;
  top: 1rem;
  left:0;
  border: 1px solid yellow;
  border-radius: 25px;
  margin-left:2.5rem;
  cursor: pointer;
}

.cursecard {
  position: absolute;
  top: 1rem;
  right:0;
  border: 1px solid black;
  border-radius: 25px;
  margin-right:2.5rem;
  cursor: pointer;
}
.modal-header {
  background-color: #d7d7d9;
  display: flex;
  justify-content: center !important; 
  align-items: center !important;
  border: none !important;
}

.modal-body {
  background-color: #D9D7D7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-footer {
  background-color: #D9D7D7;
  display: flex;
  justify-content: center !important; 
  align-items: center !important;
  border: none !important;
}

.p2score {
    top:300px;
    position: absolute;
    right: 0;
    margin-right: 3.5rem;
  }

.p1score {
  top:300px;
  position:absolute;
  float: left;
  margin-left: 3.5rem;
}

.playeronechoiceimg {
  border-radius: 25px;
  width:200px;
  height: 220px;
  top: 55%;
  position: absolute;
  left:0;
  margin-left: 1.3rem;
}
.playertwochoiceimg {
  border-radius: 25px;
  width:200px;
  height: 220px;
  top: 55%;
  position: absolute;
  right: 0;
  margin-right: 1.3rem;
}
  .characterCard {
    width: 18rem;
    height: 35.5rem;
    margin: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: ease-in-out 0.5s ;
  }

  .characterCard:hover {
    cursor: pointer;
    transition: ease 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 30px 40px 0 rgba(2, 2, 2, 0.19);
    transition: ease-in-out 0.5s ;
  }


  .curseCard {
    width: 18rem;
    height: 35rem;
    margin: 5rem;
    filter: drop-shadow(0px 10px 3px black);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 30px 40px 0 rgba(2, 2, 2, 0.19);
} 

.curseCard:hover {
  cursor: pointer;
  transition: ease 0.5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 30px 40px 0 rgba(2, 2, 2, 0.19);
  transition: ease-in-out 0.5s ;
}

  .modal-width {
    min-width: 90vw;
  }

  .modalTitle {
    color:black;
  }

  .modalimage {
    height:200px;
    width:250px;
  }

  
  
  .containerdiv {
    text-align: center;
    height: 100vh;
    background-color: #BFBDBA;
  }

  .square {
    border:1px solid black;
    height: 70px;
    width: 110px;
    background-color: #0487D9;
    font-weight: bold;
    text-align: center;
    background-position: center;
    background-size: cover;
  }

  .mezocontainer {
    padding-top:10rem;
    vertical-align: top;
    margin:1rem;
    display: inline-block;
   }

.lottoimage2 {
  width:25%;
  height:25%;
  margin-bottom: 45px;
}

.lottonumberone {
  margin-left: 2rem;
  position: absolute;
  left:0;
}

.lottonumbertwo {
  margin-right: 2rem;
  position: absolute;
  right: 0;
}

.winorlose {
  position: absolute;
  bottom:0;
}

.turnIndicator {
  position: absolute;
  right:0;
  left:0;
  bottom:0;
}










@media screen and (max-width: 1800px) {

  
  .dice {
     position: absolute;
     top:20%;
     left: 0;
     width:400px;
     transform: scaleX(-1);
     -webkit-transform: scaleX(-1);
  }
  
  .diceP2 {
    position: absolute;
    top:20%;
    right:0;
    width:400px;
  }
  
  
  .lotto-image {
    top: 2%;
    left: 0;
    width:120px;
    right: 0;
    margin: auto auto;
    position:absolute;
    cursor: pointer;
  }
  

  .mysterycard {
    position: absolute;
    top: 1rem;
    left:0;
    border: 1px solid yellow;
    border-radius: 25px;
    margin-left:2.5rem;
    cursor: pointer;
    width:180px;
    height:270px;
  }
  
  .cursecard {
    position: absolute;
    top: 1rem;
    right:0;
    border: 1px solid black;
    border-radius: 25px;
    margin-right:2.5rem;
    cursor: pointer;
    width:180px;
    height:270px;
  }
  
  .p2score {
      top:320px;
      position: absolute;
      right: 0;
      margin-right: 2.5rem;
    }
  
  .p1score {
    top:320px;
    position:absolute;
    float: left;
    margin-left: 2.5rem;
  }
  
  .playeronechoiceimg {
    border-radius: 25px;
    width:150px;
    height:200px;
    top: 55%;
    position: absolute;
    left:0;
    margin-left: 1.3rem;
  }
  .playertwochoiceimg {
    border-radius: 25px;
    width:150px;
    height:200px;
    top: 55%;
    position: absolute;
    right: 0;
    margin-right: 1.3rem;
  }
    
    .containerdiv {
      text-align: center;
      height: 100vh;
      background-color: #BFBDBA;
    }
  
    .square {
      border:1px solid black;
      height: 70px;
      width: 80px;
      background-color: #0487D9;
      font-weight: bold;
      text-align: center;
      background-position: center;
      background-size: cover;
    }
  
    .mezocontainer {
      vertical-align: top;
      margin:1rem;
      display: inline-block;
    }
  
  .turnIndicator {
    position: absolute;
    right:0;
    left:0;
    bottom:0;
    top: 50%;
  }
 
  
}

@media screen and (max-width: 1350px) {

  
  .dice {
     position: absolute;
     top:20%;
     left: 0;
     width:400px;
     transform: scaleX(-1);
     -webkit-transform: scaleX(-1);
  }
  
  .diceP2 {
    position: absolute;
    top:20%;
    right:0;
    width:400px;
  }
  
  
  .lotto-image {
    top: 2%;
    left: 0;
    width:90px;
    right: 0;
    margin: auto auto;
    position:absolute;
    cursor: pointer;
  }
  

  .mysterycard {
    position: absolute;
    top: 1rem;
    left:0;
    border: 1px solid yellow;
    border-radius: 25px;
    margin-left:0.5rem;
    cursor: pointer;
    width:140px;
    height:240px;
  }
  
  .cursecard {
    position: absolute;
    top: 1rem;
    right:0;
    border: 1px solid black;
    border-radius: 25px;
    margin-right:0.5rem;
    cursor: pointer;
    width:140px;
    height:240px;
  }
  
  .p2score {
      top:320px;
      position: absolute;
      right: 0;
      margin-right: 0.1rem;
    }
  
  .p1score {
    top:320px;
    position:absolute;
    float: left;
    margin-left: 0.1rem;
  }
  
  .playeronechoiceimg {
    border-radius: 25px;
    width:120px;
    height:170px;
    top: 55%;
    position: absolute;
    left:0;
    margin-left: 1.3rem;
  }
  .playertwochoiceimg {
    border-radius: 25px;
    width:120px;
    height:170px;
    top: 55%;
    position: absolute;
    right: 0;
    margin-right: 1.3rem;
  }
    
    .containerdiv {
      text-align: center;
      height: 100vh;
      background-color: #BFBDBA;
    }
  
    .square {
      border:1px solid black;
      height: 50px;
      width: 60px;
      background-color: #0487D9;
      font-weight: bold;
      text-align: center;
      background-position: center;
      background-size: cover;
    }
  
    .mezocontainer {
      vertical-align: top;
      margin:1rem;
      display: inline-block;
    }
  
  .turnIndicator {
    position: absolute;
    right:0;
    left:0;
    bottom:0;
    top: 50%;
  }

  .Toastdiv {
    text-align: center;
    width:250px;
    height:80px;
    top: 5%;
    margin: auto;
    position: absolute;
    left: 0;
    right:10%;
    z-index: 1;
    }

    .Toastdivcurse {
      text-align: center;
      width:250px;
      height:80px;
      top:15%;
      margin: auto;
      position: absolute;
      left: 10%;
      right:0;
      z-index: 1;
      }
 
  
}

@media screen and (max-width: 1000px) {

  
  .dice {
     position: absolute;
     top:20%;
     left: 0;
     width:400px;
     transform: scaleX(-1);
     -webkit-transform: scaleX(-1);
  }
  
  .diceP2 {
    position: absolute;
    top:20%;
    right:0;
    width:400px;
  }
  
  
  .lotto-image {
    top: 2%;
    left: 0;
    width:90px;
    right: 0;
    margin: auto auto;
    position:absolute;
    cursor: pointer;
  }
  

  .mysterycard {
    position: absolute;
    top: 1rem;
    left:0;
    border: 1px solid yellow;
    border-radius: 25px;
    margin-left:0.5rem;
    cursor: pointer;
    width:90px;
    height:160px;
  }
  
  .cursecard {
    position: absolute;
    top: 1rem;
    right:0;
    border: 1px solid black;
    border-radius: 25px;
    margin-right:0.5rem;
    cursor: pointer;
    width:90px;
    height:160px;
  }
  
  .p2score {
      top:320px;
      position: absolute;
      right: 0;
      margin-right: 0.1rem;
    }
  
  .p1score {
    top:320px;
    position:absolute;
    float: left;
    margin-left: 0.1rem;
  }
  
  .playeronechoiceimg {
    border-radius: 25px;
    width:120px;
    height:170px;
    top: 55%;
    position: absolute;
    left:0;
    margin-left: 1.3rem;
  }
  .playertwochoiceimg {
    border-radius: 25px;
    width:120px;
    height:170px;
    top: 55%;
    position: absolute;
    right: 0;
    margin-right: 1.3rem;
  }
    
    .containerdiv {
      text-align: center;
      height: 100vh;
      background-color: #BFBDBA;
    }
  
    .square {
      border:1px solid black;
      height: 35px;
      width: 35px;
      background-color: #0487D9;
      font-weight: bold;
      text-align: center;
      background-position: center;
      background-size: cover;
    }
  
    .mezocontainer {
      vertical-align: top;
      margin:1rem;
      display: inline-block;
    }
  
  .turnIndicator {
    position: absolute;
    right:0;
    left:0;
    bottom:0;
    top: 50%;
  }
 
  .Toastdiv {
    text-align: center;
    width:250px;
    height:80px;
    top: 5%;
    margin: auto;
    position: absolute;
    left: 0;
    right:10%;
    z-index: 1;
    }

    .Toastdivcurse {
      text-align: center;
      width:250px;
      height:80px;
      top:15%;
      margin: auto;
      position: absolute;
      left: 10%;
      right:0;
      z-index: 1;
      }
}